body
{
    margin: 0;
}

#badge
{
    position: absolute;
    background-color: rgb(255, 30, 30);
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
    bottom: 48px;
    right: 6.4rem;
}

#container
{
    background-color: #5c63f9;
    margin: auto;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149); 
    
}

#shopName 
{
    font-size: 40px; 
    font-family: 'Lato', sans-serif;
}

#shopName a img
{
    height: 58px;
}

#shopName > b
{
    font-weight: 900;
    font: black;
}

#collection
{
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: none;
}

#collection a
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}

#search
{
    position: absolute;
    left: 35%;
}

.search
{
    padding: 14px;
    /* color: gray; */
    color: rgb(29, 29, 29);
    min-width: 25px;
    text-align: center;
    position: absolute;
    
}

.addedToCart
{
    font-size: 1.5em;
}

#user
{
    display: flex;
    /* float: right; */
    gap: 1.9rem;
    align-items: center;
    font-size: 19px ;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}


.userIcon
{
    font-size: 45px;
}


#input 
{
    width: 35em;
    height: 3em;
    padding: 2px 50px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 5px;
}


#input::placeholder
{
    font-weight: bold;
}


#input:focus
{
    outline: none;
}


#user a
{
    color: rgb(29, 29, 29)
}
























/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1300px)
{
    #collection
    {
        font-size: 13px;
    }
    #input 
    {
        width: 25em;
    }
}
@media(max-width: 1212px)
{
    #collection
    {
        font-size: 13px;
    }
    #input 
    {
        width: 20em;
    }
    .addedToCart
    {
        font-size: 1.5em;
        margin: 10px 20px;
    }
}

@media(max-width: 1090px)
{
    
    #search
    {
        display: none;
    }
}
@media(max-width: 750px)
{
    #shopName
    {
        font-size: 28px;
    }
    #collection
    {
        font-size: 12px;
    }
    .userIcon
    {
        font-size: 35px;
    }
    .addedToCart
    {
        font-size: 1.2em;
        margin: 10px 20px;
    }
}

@media(max-width: 650px)
{
    #shopName
    {
        font-size: 24px;
    }
    #collection
    {
        font-size: 10px;
    }
    .userIcon
    {
        font-size: 30px;
    }
}
@media(max-width: 550px)
{
    #container 
    {
        padding: 20px 25px;
    }
}

/* badge media */

